@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Quicksand", sans-serif;
    font-weight: 500;

}
body{
    background-color: #142c52;
}
h1{
    color: #fff;
    width: 70%;
    border-radius:.2rem;
    border-bottom: 5px solid rgb(61,179,158);
}
.colored{
    color: rgb(61,179,158);
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100% ;
    margin-top: 50px ;
    margin-bottom: 30px ;
    background: #fff ;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    padding: 2rem 1.4rem;
    border-radius: 5px
}
.container h1{
    font-weight: 365 ;
    font-size: 3.4rem ;
}
#copy{
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.display input{
    width: 65%;
    border: 0; 
    outline: 0;
    font-size: 1.3rem;
    height: 2rem;
}
#generate{
    background-color:rgb(61,179,158) ;
    color: white; 
    width: 35%;
    padding: 1.2rem;
    outline: 0;
    cursor: pointer;
    border: 1px solid rgb(61,179,158) ;
    font-size: 1.2rem;
    border-radius: .3rem;
    transition: .4s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#generate:hover{
    border:1px solid rgb(61,179,158)  ;
    background-color: #fff;
    color: rgb(61,179,158) ;
}
#flash{
    width: 20px;
    position: relative;
    top: .3rem;
}
#copiedMsg{
    color:#fff ;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
}
#refresh-icon {
    animation-name: rotation;
    animation: rotation 2.4s infinite linear;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}
@media screen and (min-width:350px) and (max-width:650px){
    .container{
        margin: 0 auto;
        margin: 6%;
        width: 80%;
    }
    .container h1{
        width: 100%;
        font-size: 2.4rem;
        padding: 1.3rem;
    }
    #generate{
        width: 100%;
    }
    .display input{
        width: 100%;
        border: 0; 
        outline: 0;
        font-size: 1.3rem;
    }
    .display{
        height: 1.3rem;
    }
}